@import './styles/variables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: inherit;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 6px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  border-radius: none;
  background-color: inherit;
  /* border: none; */
}

input:focus, input:focus-visible {
  outline: none;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: visible;
}

main {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f3f4f6; /* Tailwind의 bg-gray-100 */
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f9fafb; /* Tailwind의 bg-gray-50 */
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  font-size: x-large;
  font-weight: bold;
}

h3 {
  font-size: large;
  font-weight: bold;
}

/* dark 모드로 변경해야됨 기본이 light 모드 */
/* @media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  a:hover {
    color: #535bf2;
  }
  button {
    background-color: #1a1a1a;
  }
} */
